@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

header {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    height: 50px;
    padding: 0 2rem;
    border: 1px solid var(--border-color);
    box-shadow: 0px 1px 3px var(--border-color);
    color: var(--font-color);
    background-color: var(--header-background);
    z-index: 2;
}

main {
    font-family: 'Quicksand', sans-serif;
    color: var(--font-color);
    position: absolute;
    flex-direction: row;
    top: 50px;
    left: 0;
    min-height: 20rem;
    min-width: 20rem;
    z-index: 1;
}

button {
    background-color: var(--main-background);
    border-top: 0;
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 0;
    border-radius: 0.25rem;
    color: inherit;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
}

button.pressed  {
    border-top: 2px solid var(--border-color);
    border-right: 0;
    border-bottom: 0;
    border-left: 2px solid var(--border-color);
}

.sticker {
    flex-direction: column;
    min-width: 16rem;
    min-height: 12rem;
    border: 3px solid var(--font-color);
}

.drop-zone {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--main-background);
}

.drag-over {
    background-color: var(--header-background);
}

.source, .sink {
    width: 3rem;
    height: 1.8rem;
    border: 3px solid var(--border-color);
    background-color: var(--main-background);
    cursor: grab;
    text-align: center;
}